#content{
	display: grid;
	grid-template-columns: 2fr 2fr;
}


#main-body {
	display: flex;

	flex-direction: column;
}


header > img {

	width: 30vw;
	height: 120%;
}

header {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	background-color: #1b458e;
}
